@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

@mixin flex($direction: row, $content: flex-start, $items: stretch, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
}

$blue-primary: hsl(201, 79%, 46%);
$white-primary: hsl(0, 0%, 100%);
$input: hsl(0, 0%, 80%, .6);
$projects: hsl(214, 32%, 91%);
$gray-primary: hsl(0, 0%, 50%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 70vw;
}

nav {
    @include flex($content: space-between);

    div {
        input {
            background-color: $input;
            border: 0;
            border-radius: 25px;
            height: 5vh;
        }
    }
}

.toolbar {
    @include flex($content: space-between, $items: center);
    
    div {

        &:nth-child(1) {
            h6 {
                font-weight: 400;
                font-size: 6px;
            }

            p {
                font-weight: 600;
                font-size: 12px;
            }
        }

        &:nth-child(2) {
            gap: .4rem;

            button {
                width: 50px;
                background-color: $blue-primary;
                border: 0;
                border-radius: 25px;
                color: $white-primary;
                font-size: 12px;
                transition: .3s ease-in-out;
        
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.sidebar {
    @include flex(column, center, center);

    width: 20vw;
    height: 100vh;
    position: relative;
    gap: 1rem;
    background-color: $blue-primary;
    font-size: .5rem;
    color: $white-primary;

    h1 {
        position: absolute;
        top: 10px;
        left: 5px;
        font-size: .6rem;
    }
}

.sidebar-link-container {
    width: 15vw;
    text-align-last: left;
}

main {
    background-color: $projects;
    width: 80vw;
    height: 80vh;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 5px 1.5rem;
    grid-auto-rows: 4rem;
    padding: .6rem 0 0 2px;
}

.card {
    width: 120px;
    height: 50px;
    background-color: $white-primary;
    border-radius: 2px;
    border: 0;
    padding: 10px;

    h2 {
        font-size: 8px;
    }

    p {
        font-size: 4px;
        color: $gray-primary;
    }
}
.announcements, .trending {
    width: 120px;
    height: 50px;
    background-color: $white-primary;
    border-radius: 2px;
    border: 0;
    padding: 10px;

    h6 {
        font-size: 6px;
    }

    p {
        font-size: 3px;
        color: $gray-primary;
    }
}